.container {
    max-width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: lightgoldenrodyellow;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#taskInput {
font-size: 16px;
margin-left: 30px;
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}
